.slick-slide img {
  width: 70%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.header {
  padding-top: 30px;
  text-align: center;
}

.slick-track
{
    display: flex !important;
    margin-bottom: 20px;
}
.slick-slide
{
    height: inherit !important;
}