.slick-slide img {
  width: 70%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-initialized .slick-slide {
  height: 370px;
}

.header {
  padding-top: 30px;
  text-align: center;
}